In [ ]:
# from the dataset i had to get the unique cutomer ids and then i was to make a new dataframe that would have a name for every customer id.

In [36]:
#importing pandas
import pandas as pd
import string
import random

In [37]:
#loading the dataframe
data=pd.read_csv("data_sets/data.csv",encoding= 'unicode_escape')

In [66]:
#getting the required coloumn of (unique)IDs from the dataframe in the list datastucture
C_ID=list(data['CustomerID'].unique())
#getting the length of the list so that the asme number of rows of random data can be generated 
length=len(C_ID)

In [67]:
#function to generate random string data to fill up the names coloumn
def nameGenerator(size=5, chars=string.ascii_uppercase):
    return ''.join(random.choice(chars) for _ in range(size))
#creating an empty list
names=[]
#calling the function to create the sample names 
for i in range(0,length):
    x=nameGenerator()
    #adding the generated names to a list 
    names += [x]

In [68]:
#to create a dataframe from the lists making a dictionary first
dictionary={'CustomerID':C_ID,'Name':names}

In [69]:
sampledf=pd.DataFrame(dictionary)

In [70]:
sampledf

      CustomerID   Name
0        17850.0  SDXAE
1        13047.0  NOXIB
2        12583.0  XFJJB
3        13748.0  NOFHT
4        15100.0  QQWDM
...          ...    ...
4368     13436.0  HBTJW
4369     15520.0  NJOJV
4370     13298.0  UXNPB
4371     14569.0  KVWKX
4372     12713.0  XYKEL

[4373 rows x 2 columns]