In [23]:
import csv
import pandas as pd
import re
import string as str


df=pd.read_csv('data_sets/range_data.csv',sep=';')
df

                   date action          id amount
0   2018-01-01 04:04:59    buy  2458151555  8-500
1   2018-01-01 09:28:00    buy  2458151933  8-500
2   2018-01-01 13:23:16    buy  2458152245  8-500
3   2018-01-01 14:20:43    buy  2458152315    100
4   2018-01-02 02:57:43    buy  2458153264  8-500
5   2018-01-02 05:25:38    buy  2458152579    100
6   2018-01-02 06:56:41    buy  2458152825    800
7   2018-01-02 07:57:24    buy  2458151525     80
8   2018-01-02 12:47:33    buy  2458151771  8-400
9   2018-01-02 18:09:20    buy  2458151468     88
10  2018-01-02 19:14:09    buy  2458151757   8-40
11  2018-01-02 23:01:53    buy  2458151919   8-50
12  2018-01-03 01:33:30    buy  2458151481    200
13  2018-01-03 03:46:02    buy  2458154757  8-500
14  2018-01-03 10:00:39    buy  2458154363  8-100

In [21]:
p=re.compile(r"\d+$",flags=re.M)

In [22]:
str.extract(pat= '(\d+$)')

AttributeError: type object 'str' has no attribute 'extract'

In [18]:
#df=df.assign(amount = lambda df:df['amount'].str.extract(p.search())

SyntaxError: unexpected character after line continuation character (3371311807.py, line 1)